<!-- Cabeçalho -->
<app-header titlePage="Receitas"></app-header>

<!-- Corpo da Página -->
<ion-content>
  <h1 style="text-align: center;">{{ titlePage }}</h1>
  <ion-card>
    <ion-img src="https://cdn.pixabay.com/photo/2015/12/30/11/53/birthday-1114056_960_720.jpg" alt="Imagem"></ion-img>
    <ion-card-header>
      <ion-card-subtitle><strong>Título:</strong> Bolo de Chocolate</ion-card-subtitle>
      <ion-card-title>Ingredientes:</ion-card-title>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue sit amet lacus eget maximus
    </ion-card-header>
    <ion-card-content>
      <ion-card-title>Modo de Preparo:</ion-card-title>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue sit amet lacus eget maximus. Morbi at
        urna id risus sollicitudin luctus.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>

<!--Rodapé-->
