<ion-content style="background-color: brown;">

  <div class="header"></div>
  
    <ion-card style="margin-top: 30%;">
      <div class="icon">
        <!--<ion-icon name="people-outline"></ion-icon>-->
        <img src="./assets/icon/login.png" alt="logo">
      </div>
        
      
      <form>
        <ion-item lines="none">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-input type="text" placeholder="Informe seu Nome"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-input type="email" placeholder="meuemail@email.com"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-input type="password" placeholder="Informe a senha"></ion-input>
        </ion-item>
        <ion-button type="submit" expand="block">Cadasatrar</ion-button>
        
      </form>
      <!-- <ion-button expand="block"  color="secondary" >Cadastre-se</ion-button> -->
    </ion-card> 

</ion-content>