<ion-tabs >
    <ion-tab-bar slot="bottom" color="primary">

        <ion-tab-button tab="home">
            <ion-icon name="home-outline"></ion-icon>
            <ion-label>Início</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="alertCad()">
            <ion-icon name="add-circle-outline"></ion-icon>
            <ion-label>Cadastrar</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="receitas">
            <ion-icon name="receipt-outline"></ion-icon>
            <ion-label>Receitas</ion-label>
        </ion-tab-button>       

    </ion-tab-bar>
</ion-tabs>