*{
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    height: 130px;
    width: 110%;
    background-color: #e66767;
    background: linear-gradient(90deg, #e66767 0%, #d47f5a 100% );
    box-shadow: 0px 1px 10px #413333;
    transform: rotate(-15deg);
    border-radius: 10px 10px 10px 50px;
    margin-left: 0;
    margin-top: -50px;
    margin-bottom: 60px;   
}

.login-body{
    position: absolute;
    width: 90%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5px;
    
}

.icon{
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    padding: -50px;
    opacity: 0.5; 
}